<%-include("header") -%>
<h2>Customer List</h2>
<table>
    <tr>
        <th>Name</th>
        <th>Account Number</th>
        <th>Balance</th>
      </tr>
      <tr>
        <td><%-defaultCustomers[0].name-%></td>
        <td><%-defaultCustomers[0].accNo-%></td>
        <td><%-defaultCustomers[0].amount-%</td>
      </tr>
      <tr>
        <td><%-defaultCustomers[1].name-%></td>
        <td><%-defaultCustomers[1].accNo-%></td>
        <td><%-defaultCustomers[1].amount-%></td>
      </tr>
      <tr>
        <td><%-defaultCustomers[2].name-%></td>
        <td><%-defaultCustomers[2].accNo-%></td>
        <td><%-defaultCustomers[2].amount-%></td>
      </tr>
      <tr>
        <td><%-defaultCustomers[3].name-%></td>
        <td><%-defaultCustomers[3].accNo-%></td>
        <td><%-defaultCustomers[3].amount-%></td>
      </tr>
      <tr>
        <td><%-defaultCustomers[4].name-%></td>
        <td><%-defaultCustomers[4].accNo-%></td>
        <td><%-defaultCustomers[4].amount-%></td>
      </tr>
      <tr>
        <td><%-defaultCustomers[5].name-%></td>
        <td><%-defaultCustomers[5].accNo-%></td>
        <td><%-defaultCustomers[5].amount-%></td>
      </tr>
      <tr>
        <td><%-defaultCustomers[6].name-%></td>
        <td><%-defaultCustomers[6].accNo-%></td>
        <td><%-defaultCustomers[6].amount-%></td>
      </tr>
      <tr>
        <td><%-defaultCustomers[7].name-%></td>
        <td><%-defaultCustomers[7].accNo-%></td>
        <td><%-defaultCustomers[7].amount-%></td>
      </tr>
      <tr>
        <td><%-defaultCustomers[8].name-%></td>
        <td><%-defaultCustomers[8].accNo-%></td>
        <td><%-defaultCustomers[8].amount-%></td>
      </tr>
      <tr>
        <td><%-defaultCustomers[9].name-%></td>
        <td><%-defaultCustomers[9].accNo-%></td>
        <td><%-defaultCustomers[9].amount-%></td>
      </tr>
      <tr>
        <td><%-defaultCustomers[10].name-%></td>
        <td><%-defaultCustomers[10].accNo-%></td>
        <td><%-defaultCustomers[10].amount-%></td>
      </tr>
</table>
<%-include("footer") -%>